@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   /* Initial fallbacks (optional, to prevent FOUC) */
   --background: 0 0% 100%;
   --foreground: 0 0% 0%;
}

html {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

body {
    margin: 0;
    /* Apple System Font Stack */
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: hsl(var(--background));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
}
